html {
    min-width: 1280px;
}

body {
    font-family: 'Noto Sans KR';
}

table {
    margin-top: 250px;
    margin-left: 208px;    
}

.text{
    width: 500px;
}

.textarea {
    width: 500px;
    height: 200px;
}

.detailBtn {
    width: 50px;
    margin: auto;
    margin-top: 40px;
    display: flex;
}

.main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 410px;
    height: 100vh;
    background-color: rgb(73, 120, 190);
    border: 1px solid rgb(73, 120, 190);
    overflow: hidden;
}

.profile {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: rgb(15, 55, 114);
    border: 1px solid rgb(15, 55, 114);
    border-radius: 7px;
    margin: 200px 0 0 99px;
}

.text-list{
    position: absolute;
    margin: 400px 0 0 60px;
}

.item{
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
    font-size: medium;
    font-weight: 600;
    color: #fff;
}
a {
    position: relative;
    text-decoration: none;
}

a:before {
    content: '';
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0; 
    bottom: 0;
    transition: 0.7s;
    left: 25%;
}

a:hover:before {
    width: 100%;
}

.name-card {
    width: 500px;
    height: 400px;
    border: 1px solid rgb(143, 180, 236);
    background-color: rgb(143, 180, 236);
    margin: 100px 0 0 500px;
}

.sns-list {
    margin: 47px 0 0 625px;
    display: flex;
}

.sns-list img {
    width: 50px; 
    height: 50px;
    margin: 10px;
}

.profile{
    display: flex;
}

.profile-name {
    font-size: xx-large;
    font-weight: 900;
    color: #fff;
    height: 60px;
    line-height: 60px;
    margin-top: 15px;
}

.title {
    font-size: x-large;
    font-weight: 900;
    margin: 100px 0 20px 20px;
    color: #fff;
}

.sub-title {
    font-size: medium;
    font-weight: 400;
    margin-left: 20px;
    color: #fff;
}

.kakao-icon {
    position: relative;
}

.kakao-icon:hover .kakao-id {
    position:absolute;
    margin: 5px 0 0 14px;
}

.kakao-id {
    position:absolute;
    color: #5c5959;
    width: 40px;
    margin: -48px 0 0 14px;
    font-size: 12px;
    font-weight: 600;
    z-index: -1;
}

.project-list {
    margin: -530px 0 0 1158px;
    display: block;
    width: 650px;
}

.project-img {
    /* margin-bottom: 20px; */
    margin: 0 auto;
    margin-left : 10px;
    padding-top: 10px;
    float: left;
}

button, .btn {
    position: absolute;
    bottom: 164px;
    right: 140px;
    border: none;
    font-weight: 700;
}

button a {
    text-decoration: none;
}

.card-list {
    margin: 80px 0 0 530px;
    width: 1400px;
    overflow: hidden;
}

.card {
    margin: 0 auto;
    margin-left : 25px;
    padding-top: 10px;
    float: left;
}

.card-text {
    font-weight: 600;
    color: #a5a3a3;
}

.card-title {
    font-weight: 900;
    font-size: large;
    color: #000;
}

.card-date {
    font-weight: 400;
    font-size: small;
    color: #000;
}

.card a {
    text-decoration: none;
}