<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
    <title>BoardDetail</title>
</head>

<body>
    <div class="container">
        <h2>프로젝트 조회</h2>
        <table>
            <tr>
                <td>프로젝트 제목</td>
                <td><input class="text" type="text" id="projectNm" name="projectNm" readonly="readonly"
                        th:value="${board.projectNm}"></td>
            </tr>
            <tr>
                <td>프로젝트 내용</td>
                <td colspan="2">
                    <textarea class="textarea" id="contents" name="contents" readonly="readonly"
                        th:text="${board.contents}"></textarea>
                </td>
            </tr>
        </table>
        <div class="detailBtn">
            <form action="/board/updatePage" method="get">
                <input type="hidden" id="no" name="no" th:value="${board.no}" />
                <input type="submit" value="수정">
            </form>
            <form action="/board/delete" method="get">
                <input type="hidden" id="no" name="no" th:value="${board.no}" />
                <input type="submit" value="삭제">
            </form>
            <a th:href="@{/board/list}"><input type="button" value="목록"></a>
        </div>
    </div>
</body>

</html>