<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <title>BoardList</title>
</head>
<body>
    <h2>프로젝트 리스트</h2>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>프로젝트 제목</th>
            <th>작성일</th>
        </tr>
        </thead>
    
        <tbody>
        <tr th:each="board : ${boardList}">
            <td>
                <span th:text="${board.no}"></span>
            </td>
            <td>
                <a th:href="@{'/board/detail/' + ${board.no}}">
                    <span th:text="${board.projectNm}"></span>
                </a>
            </td>
            <td>
                <span th:text="${#dates.format(board.regDate, 'yyyy-MM-dd')}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/board/writepage}"><input class="btn" type="button" value="새 프로젝트 등록"></a>
</body>
</html>